.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.display-4,
.lead,
 {
  color: white;
  font-family: Dalgona;
}


#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#Gallery .row > * {
  padding: 0;
}
