.jumbotron {
	background-color: #c2beb5;
	padding-top: 6rem;
}

#projects {
	background-color: #c2beb5;
}

.img-gallery {
	width: 100%;
}

#gallery .row > * {
	padding: 0px;
}

section {
	padding-top: 4rem;
}

