.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
  background-image: url(img/webd.jpg);
  background-repeat: no-repeat;
  background-size: 800;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.display-4,
.lead,
img {
  z-index: 1;
  position: relative;
  color: white;
  font-family: Dalgona;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  background-image: linear-gradient (to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#Gallery .row > * {
  padding: 0;
}
